apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: basic-netapp-file-nvme
provisioner: csi.trident.netapp.io
parameters:
  backendType: "ontap-san"
  storagePools: "backend-tbc-ontap-nvme:.*"
  fsType: ext4
mountOptions:
  - discard
allowVolumeExpansion: true
