apiVersion: trident.netapp.io/v1
kind: TridentBackendConfig
metadata:
  name: backend-tbc-ontap-nvme
  namespace: trident
spec:
  version: 1
  backendName: backend-tbc-ontap-nvme
  storageDriverName: ontap-san
  managementLIF: 192.168.1.1
  svm: Data-NFS-SVM-OpenShift
  sanType: nvme
  credentials:
    name: optixsvm-secret
