*.swp
.vscode
*.swo
CLAUDE.md
pull-secret.txt
pull-secret.json
imageset*.yaml
.claude
.claude/*
autoshift/files/
.helm-charts/
release-artifacts/
.cache/
.tools/
.tmp/
.mcp.json
.tmp
.tmp/*
local/
memory
