# Default values for HashiCorp Vault
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
policy_namespace: open-cluster-policies

vault:
  test: test

# hubClusterSets:
#   hub:
#     labels:
#       test1: 'test'
# managedClusterSets:
#   managed:
#     labels:
#       test4: 'test'

### AutoShift Labels Documentation
# The following labels can be set at the cluster or clusterset level to configure this policy:
#
# Enable/Disable:
# vault<bool>: 'true' or 'false' - Enable HashiCorp Vault 
#
# Performance:
# odf-resource-profile<String>: Resource profile - 'lean', 'balanced', or 'performance' (default: 'balanced')
#
# Examples:
# autoshift.io/vault: 'true'
