# Default values for nvidia-gpu
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
policy_namespace: open-cluster-policies
nvidiaGpu:
  name: gpu-operator-certified
  namespace: nvidia-gpu-operator
  channel: v25.10
  source: certified-operators
  sourceNamespace: openshift-marketplace
  operatorGroupName: nvidia-gpu-operator-group
  targetNamespaces: # Target namespaces for namespace-scoped operators
    - nvidia-gpu-operator
  
# hubClusterSets:
#   hub:
#     labels:
#       test1: 'test'
# managedClusterSets:
#   managed:
#     labels:
#       test4: 'test'

### AutoShift Labels Documentation
# The following labels can be set at the cluster or clusterset level to configure this policy:
#
# Enable/Disable:
# nvidia-gpu<bool>: 'true' or 'false' - Controls whether nvidia-gpu is managed
#
# Configuration:
# nvidia-gpu-subscription-name<string>: Operator subscription name (default: 'gpu-operator-certified')
# nvidia-gpu-channel<string>: Operator channel (default: 'v25.10')
# nvidia-gpu-version<string>: Specific operator version (CSV) to install (optional)
# nvidia-gpu-source<string>: Operator catalog source (default: 'certified-operators')
# nvidia-gpu-source-namespace<string>: Catalog namespace (default: 'openshift-marketplace')
#
# Examples:
# autoshift.io/nvidia-gpu: 'true'
# autoshift.io/nvidia-gpu-subscription-name: 'gpu-operator-certified'
# autoshift.io/nvidia-gpu-channel: 'v25.10'
# autoshift.io/nvidia-gpu-version: 'operator-name.v1.x.x'
# autoshift.io/nvidia-gpu-source: 'certified-operators'
# autoshift.io/nvidia-gpu-source-namespace: 'openshift-marketplace'