# Default values for servicemesh3
# Portable Helm chart - works with or without ACM

servicemesh3:
  name: servicemeshoperator3
  namespace: openshift-operators
  channel: stable
  source: redhat-operators
  sourceNamespace: openshift-marketplace
