apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  sources:
    - repoURL: {{ site_config_repo }}
      targetRevision: {{ site_config_branch }}
      ref: siteValues
    - repoURL: {{ oci_registry }}
      chart: autoshift
      targetRevision: "{{ oci_chart_version }}"
      helm:
        valueFiles:
{% for f in base_value_files %}
          - $siteValues/{{ f }}
{% endfor %}
{% for cluster_file in cluster_value_files | default([]) %}
          - $siteValues/{{ cluster_file }}
{% endfor %}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
