apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: policy-hashicorp-vault-install
  namespace: {{ .Values.policy_namespace }}
  annotations:
    policy.open-cluster-management.io/standards: NIST SP 800-53
    policy.open-cluster-management.io/categories: CM Configuration Management
    policy.open-cluster-management.io/controls: CM-2 Baseline Configuration
spec:
{{ if (($.Values.autoshift).dryRun) }}
  remediationAction: inform
{{ end }}
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: vault
        spec:
          remediationAction: enforce
          severity: high
          object-templates:
            - complianceType: musthave
              objectDefinition:
                apiVersion: v1
                kind: Namespace
                metadata:
                  name: {{ .Values.vault.namespace }}
                  labels:
                    openshift.io/cluster-monitoring: "true"
---                   
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    chart: vault
    repoURL: https://helm.releases.hashicorp.com
    targetRevision: 0.28.1
    helm:
      values: |
        global:
          openshift: true
          tlsDisable: true
        
        injector:
          enabled: true
          image:
            repository: "hashicorp/vault-k8s"
            tag: "1.4.1"
          
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 256Mi
              cpu: 250m
        
        server:
          image:
            repository: "hashicorp/vault"
            tag: "1.15.4"
          
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 256Mi
              cpu: 256Mi
          
          # OpenShift Route configuration
          route:
            enabled: true
            host: ""
            tls:
              termination: edge
          
          service:
            enabled: true
          
          # HA configuration with Raft storage
          ha:
            enabled: true
            replicas: 3
            
            raft:
              enabled: true
              setNodeId: true
              
              config: |
                ui = true
                
                listener "tcp" {
                  tls_disable = 1
                  address = "[::]:8200"
                  cluster_address = "[::]:8201"
                }
                
                storage "raft" {
                  path = "/vault/data"
                  
                  retry_join {
                    leader_api_addr = "http://vault-0.vault-internal:8200"
                  }
                  
                  retry_join {
                    leader_api_addr = "http://vault-1.vault-internal:8200"
                  }
                  
                  retry_join {
                    leader_api_addr = "http://vault-2.vault-internal:8200"
                  }
                }
                
                service_registration "kubernetes" {}
          
          # Data storage
          dataStorage:
            enabled: true
            size: 10Gi
            storageClass: null
            accessMode: ReadWriteOnce
          
          # Audit storage
          auditStorage:
            enabled: true
            size: 10Gi
            storageClass: null
            accessMode: ReadWriteOnce
          
          # Extra files to mount into Vault pods
          extraVolumes:
            - type: secret
              name: vault-config-extra
          
          volumeMounts:
            - name: vault-config-extra
              mountPath: /vault/extra-config
              readOnly: true
        
        ui:
          enabled: true
          serviceType: "ClusterIP"

  destination:
    server: https://kubernetes.default.svc
    namespace: vault

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: placement-policy-hashicorp-vault-install
  namespace: {{ .Values.policy_namespace }}
spec:
  clusterSets:
  {{- range $clusterSet, $value := .Values.managedClusterSets }}
    - {{ $clusterSet }}
  {{- end }}
  {{- range $clusterSet, $value := .Values.hubClusterSets }}
    - {{ $clusterSet }}
  {{- end }}
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchExpressions:
            - key: 'autoshift.io/pipelines'
              operator: In
              values:
              - 'true'
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: placement-policy-hashicorp-vault-install
  namespace: {{ .Values.policy_namespace }}
placementRef:
  name: placement-policy-hashicorp-vault-install
  apiGroup: cluster.open-cluster-management.io
  kind: Placement
subjects:
  - name: policy-hashicorp-vault-install
    apiGroup: policy.open-cluster-management.io
    kind: Policy